# vscode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Test data
clickhouse/backups/
clickhouse/clickhouse-data/
trash/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
